<div class="page-header">
  <h1>Conversation Dashboard</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Conversation overview</h1>
  </div>
	<div class="col-md-6">
    <div id="mentions_bar_chart" style="width:100%; height:400px;"></div>
	</div>
	<div class="col-md-6">
		<div id="hashtags_bar_chart" style="width:100%; height:400px;"></div>
	</div>
  <div class="col-md-12">
    <h1>Top words</h1>
    <div id="word_cloud" style="width:100%; height:400px;"></div>
  </div>
  <div class="col-md-12">
    <hr>
    <label for="stopwords">Stopwords for charts</label>
    <p>To remove a 'noisy' term, hashtag or user from the charts above just enter the term into the list below and click 'Update'</p>
    <textarea class="form-control" id="stopwords" name="stopwords"></textarea>
    <br>
    <button type="button" class="btn btn-primary" onclick="updateCharts()">Update</button>
    <br>
  </div>
</div>
