<div class="page-header">
  <h1>Engagement and Influence</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Retweet overview</h1>
    <div id="retweet_type_chart" style="width:100%; height:400px;"></div>
  </div>
  <div class="col-md-6">
    <h2>Most Retweeted</h2>
    <% @retweets_html.each do |row| %>
      <%= raw(row.html) %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2>Most Favourited</h2>
    <% @favourites_html.each do |row| %>
      <%= raw(row.html) %>
    <% end %>
  </div>
</div>
