<script src="http://code.highcharts.com/maps/modules/map.js"></script>
<script src="http://code.highcharts.com/maps/modules/data.js"></script>
<script src="http://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
<script src="http://code.highcharts.com/mapdata/custom/world.js"></script>
<!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
<link rel="stylesheet" type="text/css" href="https://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />

<div class="page-header">
  <h1>Sentiment by Country and US State</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Description</h3>
    <p>These charts show the average sentiment score for each region.
      Each tweet has been tagged with a sentiment score ranging from:
      <ul>
        <li>-1 = negative sentiment
        <li>1 = positive sentiment
      </ul>
      Only tweets with a tagged location have been included. Therefore
      if a country/state is blank it indicate that no tweets with that
      country/state have been identified in the data set.
    </p>
  </div>
  <div class="col-md-8">
    <div id="country_sentiment_map" style="height: 500px; min-width: 310px; max-width: 100%; margin: 0 auto"></div>
    <div id="us_sentiment_map" style="height: 500px; min-width: 310px; max-width: 100%; margin: 0 auto"></div>
  </div>
</div>
