<div class="page-header">
  <h1>Photos</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Most Popular Photos</h2>
    <% @photos.each do |row| %>
      <% count = "count="+ row["value"].to_s %>
      <a href=<%= row['key'] %>><img id='top_images' src=<%= row['key'] %> title=<%= count %>></a>
      <br>
    <% end %>
  </div>
</div>
