<div class="page-header">
  <h1>Raw data</h1>
</div>
<div class="row">
  <div class="col-md-12">
  This page contains a links to the raw data in the database. All data is in json format. To save a copy open the link, click save and save the page source.
  </div>
  <div class="col-md-4">
    <h2>Views</h2>
    <% [1,2,3,4,5,6,7,8,9].each do |level| %>
      <b>Group level <%= level %></b>
        <ul>
        <% @design_document["views"].each do |row| %>
          <% if !row[0].downcase.include? "count" %>
            <li><a href="<%= @connection + '/_view/'+ row[0] + '?group_level=' + level.to_s %>"><%= row[0] %></a></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-md-4">
    <h2>Lists</h2>
    <h4>Sort by value</h4>
    <% [1,2,3,4,5,6,7,8,9].each do |level| %>
      <b>Group level <%= level %></b>
        <ul>
        <% @design_document["views"].each do |row| %>
          <% if row[0].downcase.include? "count" %>
            <li><a href="<%= @connection + '/_list/sort_by_value/'+ row[0] + '?group_level=' + level.to_s %>"><%= row[0] %></a></li>
            <% end %>
          <% end %>
      </ul>
    <% end %>
    <h4>Sort array by value</h4>
    <% [1,2,3,4,5,6,7,8,9].each do |level| %>
      <b>Group level <%= level %></b>
        <ul>
        <% @design_document["views"].each do |row| %>
          <% if row[0].downcase.include? "count" %>
            <li><a href="<%= @connection + '/_list/sort_array_by_value/'+ row[0] + '?group_level=' + level.to_s %>"><%= row[0] %></a></li>
            <% end %>
          <% end %>
      </ul>
    <% end %>
  </div>
</div>
