<div class="page-header">
  <h1>Tweet Details</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Tweet</h3>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><image src=<%= @tweet['user']['profile_image_url_https'] %>></td>
            <td><%= link_to @tweet['user']['name'], user_path(@tweet['user']['id_str']) %></td>
          </tr>
          <tr>
            <td>Text</td>
            <td><%= @tweet['text'] %></td>
          </tr>
          <tr>
            <td>Created At</td>
            <td><%= Time.parse(@tweet['created_at']).strftime('%H:%M on %d %b %Y') %></td>
          </tr>            
          <tr>
            <td>Favourite Count</td>
            <td><%= @tweet['favorite_count'] %></td>
          </tr>
          <tr>
            <td>Retweet Count</td>
            <td><%= @tweet['retweet_count'] %></td>
          </tr>      
        </tbody>
      </table>
    </div>
  </div>
</div>    