<%= @user.description %><br><br>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>Verified Account</td>
        <td><%= @user.verified %></td>
      </tr>
      <tr>
        <td>Followers</td>
        <td><%= @user.followers_count %></td>
      </tr>
      <tr>
        <td>Statuses</td>
        <td><%= @user.statuses_count %></td>
      </tr>
      <tr>
        <td>Friends</td>
        <td><%= @user.friends_count %></td>
      </tr>
      <tr>
        <td>Location</td>
        <td><%= @user.location %></td>
      </tr>
      <tr>
        <td>Website</td>
        <td><%= @user.website %></td>
      </tr>
      <tr>
        <td>Account Created</td>
        <td><%= Time.parse(@user.created_at.to_s).in_time_zone(@user.utc_offset) %></td>
      </tr>
      <tr>
        <td>Time zone</td>
        <td><%= @user.time_zone %></td>
      </tr>
      <tr>
        <td>Language</td>
        <td><%= @user.lang %></td>
      </tr>
    </tbody>
  </table>
</div>
