<div class="page-header">
  <h1>Top Users</h1>
</div>
<div class="row">
	<div class="table-responsive">
	  <table class="table table-striped table-bordered table-hover">
	    <thead>
	      <tr>
	        <th>User</th>
	        <th>Count</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @users.each do |row| %>
	        <tr>
	          <td><%= link_to row['key'][1], user_path(row['key'][0]) %></td>
	          <td align='right'><%= row['value'] %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
</div>
