<div id="data" data-user="<%= params[:id].to_str %>"></div>
<div class="page-header">
  <h1><image src=<%= @user.profile_image_url %>> @<%= @user.screen_name %></h1>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Profile</h2>
    <%= render 'user_profile' %>
    <h2>Retweet contents</h2>
      <div id="retweet_type_chart" style="width:100%; height:400px;"></div>
      <p>This chart provides an overview as to the type of content contained in
        <%= @user.screen_name %>'s retweeted tweets.  Note that no minimum
        retweet count applies and a tweet can have more than one form of content
        , i.e. a photo and a link.</p>
    <h2>Most Retweeted</h2>
    <p><%= @user.screen_name %>'s most retweeted tweets are shown here.
      Note that only retweets that have been captured in the database and have
       > 10 retweets will be displayed.</p>
    <% @retweets_html.each do |row| %>
      <%= raw(row.html) %>
    <% end %>
  </div>
  <div class="col-md-8">
    <h2>Mentions of @<%= @user.screen_name %></h2>
    	<div id="mentions_sentiment_time_total_chart" style="width:100%; height:400px;"></div>
      <div id="mentions_sentiment_time_percentage_chart" style="width:100%; height:400px;"></div>
  </div>
  <div class="col-md-8">
    <h2>Tweets by @<%= @user.screen_name %></h2>
      <div id="tweets_sentiment_time_total_chart" style="width:100%; height:400px;"></div>
      <div id="tweets_sentiment_time_percentage_chart" style="width:100%; height:400px;"></div>
  </div>
  <div class="col-md-4">
  </div>
</div>
