<div class="page-header">
  <h1>#<%= @hashtags[0]['key'][0] %></h1>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
  		<div id="hashtag_sentiment_chart_total" style="width:100%; height:400px;" data-hashtag="<%= params[:id].to_str %>"></div>
      <div id="hashtag_sentiment_chart_percentage" style="width:100%; height:400px;" data-hashtag="<%= params[:id].to_str %>"></div>
  	</div>
  </div>
</div>
