@import "bootstrap-variables";


//Word cloud styling

#word_cloud {
    font-family:"Helvetica Neue", sans-serif;
}
.bld {
    font-weight: bold;
}

/* footer */
// Basics of a navbar

$footer-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;

footer {
  margin-top: 45px;
  padding-top: 10px;
  padding-bottom: 45px;
  border-top: 1px solid $gray-lighter;
  color: $gray-light;
  margin-bottom: $border-radius-base;
  padding-left: $footer-padding-horizontal;
  padding-right: $footer-padding-horizontal;
  border-radius: $border-radius-base;

  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }

  p {
    color: $gray-lighter;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// Images

#top_images {
  width: 100%;
}
