<footer class="footer">
	<div class="container">
	<small>
	A <a href="http://www.msi.unimelb.edu.au/study/graduate/master-of-information-technology/distributed-computing/2-years/">Masters of Information Technology</a>
	 - <a href="https://handbook.unimelb.edu.au/view/2016/COMP90019">Distributed Computing project</a>
	 by <a href="http://www.lukejones.com.au/">Luke Jones</a>
	 of <a href="http://unimelb.edu.au">University of Melbourne</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "http://www.lukejones.com.au" %></li>
      <li><%= link_to "Contact", "mailto:lukej1@unimelb.edu.au" %></li>
    </ul>
  </nav>
</div>
</footer>
