<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "@ConversationTracker", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Hashtags", hashtags_path %></li>
        <li><%= link_to "Engagement", engagement_path %></li>
        <li><%= link_to "Sentiment Map", maps_path %></li>
        <li><%= link_to "Photos", photos_path %></li>
        <li><%= link_to "Raw Data", raw_data_path %></li>
      </ul>
    </div>
  </div>
</nav>
